@font-face {
  font-family: MIB;
  src: url('MIB.ttf');
}

.message-bubble-appear {
  opacity: 0;
}
.message-bubble-appear ..message-bubble-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
